* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow: scroll;
  scroll-behavior: smooth;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text {
  text-decoration: none;
}

.ui.simple.dropdown .menu {
  -webkit-transition: opacity .9s ease;
  transition: opacity .9s ease;
}

a {
  color: black;
  cursor: pointer;
}

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../images/lightbulbs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.content-wrapper.two {
  background-color: transparent;
}

.cart-contents {
  font-size: .7rem;
  margin-left: 5px;
}

.content-area {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 75%;
  height: 500px;
  margin: auto;
  background-color: transparent;
}

footer {
  height: 50px;
}

.content-area.one {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr 1fr;
      grid-template-columns: 100px 1fr 1fr;
  text-align: center;
}

#conTwo {
  display: -ms-grid;
  display: grid;
  background-color: slategrey;
  -ms-grid-rows: 4fr 2fr 4fr;
      grid-template-rows: 4fr 2fr 4fr;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.content-box-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: lightgrey;
  width: 80%;
  justify-self: end;
  -webkit-animation: slideIn 1500ms 1500ms ease-in;
          animation: slideIn 1500ms 1500ms ease-in;
}

@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
}

.image {
  max-width: 100%;
  max-height: 100%;
}

#slideShow {
  background: url("../images/Modal-1/image-00.jpg");
  opacity: .9;
  background-color: rgba(73, 73, 73, 0.2);
  max-width: 100%;
  max-height: 100%;
  -webkit-animation: slideShow 15s infinite;
          animation: slideShow 15s infinite;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

@-webkit-keyframes slideShow {
  25% {
    background-position-x: -150px;
    background-image: url("../images/Modal-1/image-30.jpg");
  }
  65% {
    background-image: url("../images/Modal-1/image-10.jpg");
    background-position-x: -100px;
  }
  85% {
    background-image: url("../images/Modal-1/image-40.jpg");
  }
}

@keyframes slideShow {
  25% {
    background-position-x: -150px;
    background-image: url("../images/Modal-1/image-30.jpg");
  }
  65% {
    background-image: url("../images/Modal-1/image-10.jpg");
    background-position-x: -100px;
  }
  85% {
    background-image: url("../images/Modal-1/image-40.jpg");
  }
}

.shoppingCart {
  display: none;
  position: fixed;
  text-align: center;
  top: 50px;
  right: -999px;
  height: 90vh;
  width: 200px;
  background-color: #fff;
  border-radius: 5px;
}

.shoppingCart.open {
  right: 10px;
  display: block;
}

.cartHeader {
  padding: 14px;
  margin: 0;
}

hr {
  width: 75%;
  margin: auto;
}

.grooming-box,
.footwear-box,
.accessories-box {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-grid-columns: 100px 1fr 1fr;
      grid-template-columns: 100px 1fr 1fr;
  -ms-grid-row-align: center;
      align-self: center;
  background-color: #fff;
  width: 75%;
  height: 500px;
  margin: auto;
}

.grooming-left {
  background-image: url("../images/grooming-2.jpg");
  background-position-x: -50px;
  -webkit-animation: groomingSlide 30s infinite;
          animation: groomingSlide 30s infinite;
  border: 1px solid blue;
}

@-webkit-keyframes groomingSlide {
  25% {
    background-image: url("../images/grooming-7.png");
  }
  65% {
    background-image: url("../images/modal-1/image-10.jpg");
  }
  85% {
    background-image: url("../images/modal-1/image-40.jpg");
  }
}

@keyframes groomingSlide {
  25% {
    background-image: url("../images/grooming-7.png");
  }
  65% {
    background-image: url("../images/modal-1/image-10.jpg");
  }
  85% {
    background-image: url("../images/modal-1/image-40.jpg");
  }
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 2rem;
  font-weight: 700px;
  background-color: #fff;
  position: relative;
}

.box-title {
  background-color: white;
}

.letter {
  opacity: 0;
}

.store-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 5rem;
  height: 75vh;
  width: 75vw;
  background-color: #f1f1f1;
  margin: auto;
  opacity: .9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

p {
  margin: 0;
}

.divider {
  height: 5px;
  width: 30%;
  opacity: 1;
  background-color: #864c4c;
  -webkit-animation: slideDivider 2s linear;
          animation: slideDivider 2s linear;
}

@-webkit-keyframes slideDivider {
  0% {
    width: 0%;
    opacity: 0;
  }
}

@keyframes slideDivider {
  0% {
    width: 0%;
    opacity: 0;
  }
}

.brand {
  font-family: 'Rock Salt', cursive;
  color: #4b4646;
  position: relative;
  -webkit-animation: brandGrow 2.6s ease-in;
          animation: brandGrow 2.6s ease-in;
}

@-webkit-keyframes brandGrow {
  0% {
    top: 65px;
    opacity: 0;
    font-size: 3rem;
  }
  50% {
    opacity: 0;
    font-size: 4rem;
  }
  75% {
    opacity: .2;
  }
  100% {
    font-size: 5rem;
    top: 0;
  }
}

@keyframes brandGrow {
  0% {
    top: 65px;
    opacity: 0;
    font-size: 3rem;
  }
  50% {
    opacity: 0;
    font-size: 4rem;
  }
  75% {
    opacity: .2;
  }
  100% {
    font-size: 5rem;
    top: 0;
  }
}

#Layer_1 {
  max-width: 50%;
  max-height: 25%;
  stroke: transparent;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: 0;
    stroke-width: 30;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
    stroke-width: 30;
  }
}

#u-1 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 10;
  -webkit-animation: stroke 3s linear forwards .2s;
          animation: stroke 3s linear forwards .2s;
  stroke: #4b4646;
}

#r-1 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 10;
  -webkit-animation: stroke 3s linear forwards .5s;
          animation: stroke 3s linear forwards .5s;
  stroke: #4b4646;
}

#r-2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 10;
  -webkit-animation: stroke 3s linear forwards .6s;
          animation: stroke 3s linear forwards .6s;
  stroke: #4b4646;
}

#b-1 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 10;
  -webkit-animation: stroke 3s linear forwards .9s;
          animation: stroke 3s linear forwards .9s;
  stroke: #4b4646;
}

#b-2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 10;
  -webkit-animation: stroke 3s linear forwards 1s;
          animation: stroke 3s linear forwards 1s;
  stroke: #4b4646;
}

#a-1 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 10;
  -webkit-animation: stroke 3s linear forwards 1.3s;
          animation: stroke 3s linear forwards 1.3s;
  stroke: #4b4646;
}

#a-2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 10;
  -webkit-animation: stroke 3s linear forwards 1.4s;
          animation: stroke 3s linear forwards 1.4s;
  stroke: #4b4646;
}

#n-1 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 10;
  -webkit-animation: stroke 3s linear forwards 1.7s;
          animation: stroke 3s linear forwards 1.7s;
  stroke: #4b4646;
}

#d-1 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 10;
  -webkit-animation: stroke 3s linear forwards 1.9s;
          animation: stroke 3s linear forwards 1.9s;
  stroke: #4b4646;
}

#d-2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 10;
  -webkit-animation: stroke 3s linear forwards 2s;
          animation: stroke 3s linear forwards 2s;
  stroke: #4b4646;
}

#e-1 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 10;
  -webkit-animation: stroke 3s linear forwards 2.3s;
          animation: stroke 3s linear forwards 2.3s;
  stroke: #4b4646;
}

#e-2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 10;
  -webkit-animation: stroke 3s linear forwards 2.4s;
          animation: stroke 3s linear forwards 2.4s;
  stroke: #4b4646;
}

#v-1 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 10;
  -webkit-animation: stroke 3s linear forwards 2.6s;
          animation: stroke 3s linear forwards 2.6s;
  stroke: #4b4646;
}

.hidden {
  opacity: 0;
}

.letter {
  position: relative;
  right: 0;
  opacity: .9;
  -webkit-animation: letter 1s ease-out;
          animation: letter 1s ease-out;
}

@-webkit-keyframes letter {
  0% {
    right: 999px;
    opacity: 0;
  }
}

@keyframes letter {
  0% {
    right: 999px;
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */