@import '_reset.scss';

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}

.text {
  text-decoration: none;
}

.ui.simple.dropdown .menu {
  transition: opacity .9s ease;
}

a {
  color: black;
}

.content-wrapper {
  background-image: url('../images/lightbulbs.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
